//
   Created by awippl on 3/19/2016.
.container
    .jumbotron
        h1 Laura's Resume
        p Welcome to Laura's Resume!
        p Awesome social media expert
        p works on the walking dead tweets
        p subordinates release tweets when they're not supposed to
